@import "tailwindcss";

body {
  /* background-color: '#f8fafc'; */
  box-sizing: border-box;
}
html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}

.move-left {
  animation: moveLeft 0.5s ease-out forwards;
}
